
h1
{
	color: red; 
	font-size: 40px;
}
.body_background {
	background-image:url("bg1.jpg") ;
	background-size: cover;
}

#myCanvas{
    background-color: white;
	width: 800px;
	height: 600px;
	border-radius: 100px;
}
.limparTela{
	background-color: cadetblue;
	color: white;
	border-radius: 20px;
    height: 40px;
}
